:root {
    --accent-bg-1: #590b08;
    --accent-bg-1-opaque: #590b0896;
    --accent-bg-2: #ad3f07;
    --accent-bg-2-opaque: #ad3e0763;
    --accent-bg-3: #ae8704;
    --accent-bg-3-opaque: #ae8604d5;
    --accent-bg-4: #124e78;
    --accent-bg-4-opaque: #124e78c6;
    --accent-txt-1: #f4cb44;
    --accent-txt-2: #dc672c;
    --accent-txt-3: #6094b6;
    --accent-txt-4: #9a89dc;
    --body-bg: #240503;
    --body-bg-opaque: #180202dc;
    --body-txt: #f5f6e7;
    --border-1: #82302d;
    --border-2: #df7a46;
    --border-3: #f3c429;
    --border-4: #4d7a99;
    --btn-bg-1: #ad3f07;
    --btn-bg-2: #a6820b;
    --btn-bg-3: #124e78;
    --btn-bg-4: #914a47;
    --btn-bg-5: #6252a4;
    --btn-txt: #f5f6e7;
    --danger-border: #ff0000;
    --danger-txt: #ff0000;
}

* {
    color: var(--body-txt);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 10px; 
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100dvh; 

    background-color: var(--body-bg);
    background-image: url(img/bg-general-100-3.webp);
    background-repeat: repeat;
}

main {
    flex-grow: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    padding: 1.5rem 0;
}

section:not(#home-hero, #home-about-contact, #privacy-section, #guides, .guide) {
    width: 92.5%;
    max-width: 50rem;
    margin: 0 auto 3.25rem;

    background-color: var(--body-bg-opaque);
    border: 0.1rem solid var(--border-1); 
    border-radius: 0.5rem;
}

h1 {
    font-size: clamp(2rem, 6vw, 3rem);
}

h2 {
    font-size: clamp(1.6rem, 4vw, 2rem);
}

h3 {
    font-size: clamp(1.25rem, 3vw, 1.65rem);
}

h4, .h4 {
    font-size: clamp(1rem, 3vw, 1.3rem);
}

a, p, li, table {
    font-size: clamp(0.9rem, 2vw, 1.15rem);
    text-decoration: none;
}

.a-btn, button {
    font-weight: 550;
    font-size: clamp(1.05rem, 2vw, 1.3rem);

    padding: 0.65rem 0.75rem;
    border: none;
    border-radius: 0.35rem;
    cursor: pointer;

    background: transparent;
    transition: background-color 0.2s ease, transform 0.1s ease;
    will-change: transform;

    text-decoration: none;
}

.a-btn:active, button:active {
    transform: scale(0.96);
    opacity: 0.75;
}

.next-btn {
    border: 0.1rem solid var(--btn-txt);

    max-width: 60%;
    text-align: center;
    font-style: italic;

    margin-top: 0.5rem;
}

.next-btn:hover {
    background-color: var(--accent-bg-1);
}

.a-btn:hover, button:hover {
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.title1 {
    color: var(--accent-txt-3);
}

.title2 {
    color: var(--accent-txt-2);
}

.title3 {
    color: var(--accent-txt-1);
}

.title4 {
    color: var(--accent-txt-4);
}

.btn1 {
    background-color: var(--btn-bg-3);
    border: 0.1rem solid var(--border-4);
}

.btn2 {
    background-color: var(--btn-bg-1);
    border: 0.1rem solid var(--border-2);
}

.btn3 {
    background-color: var(--btn-bg-2);
    border: 0.1rem solid var(--border-3);
}

.btn4 {
    background-color: var(--btn-bg-5);
    border: 0.1rem solid var(--accent-txt-4);
}

.btn5 {
    background-color: var(--accent-bg-1);
    border: 0.1rem solid var(--btn-txt);

    margin-top: 1rem;
}

.btn5:hover {
    background-color: var(--body-bg-opaque);
}

/* hero */
#home-hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100dvh; 
    padding: 0;

    text-align: center;
}

.home-hero-content-main {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0.5rem 0;

    background-color: var(--body-bg-opaque);
    border-bottom: 0.1rem solid var(--border-1);
}

.logo{
    position: absolute;
    margin: 1rem;
    width: 4.5rem;
    height: 4.5rem;
    font-size: 1.15rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;

    width: 70%;
    margin: 1.5rem 1rem 1.5rem auto;
}

.nav-btn {
    padding: 0.5rem 0.65rem;
    border: 0.1rem solid var(--btn-txt);
    border-radius: 0.35rem;
}

.nav-btn:hover {
    background-color: var(--accent-bg-1);
}

.hero-title {
    margin: 1rem 3rem 0;
}

.hero-subtitle {
    font-style: italic;
    margin: 0 auto;
    padding: 1.5rem 1.25rem;
    width: 85%;

    background-color: var(--accent-bg-1);
    border-radius: 0.5rem;
}

#home-hero .next-btn {
    background-color: var(--accent-bg-1);
    border: 0.1rem solid var(--border-1);

    margin-bottom: 3rem;
}

#home-hero .next-btn:hover {
    background-color: var(--body-bg);
    border-color: var(--btn-txt);
}

.hero-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem 3.5rem;
}

/* info section */

.home-sections {
    width: 90%;
    margin: 0rem auto 0.5rem;
}

.home-section-intro-title {
    margin-bottom: 1rem;
}

.home-section-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin: 0 auto;

    width: 95%;
}

.home-section-details-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    background-color: var(--accent-bg-1);
    border-radius: 0.4rem;

    padding: 1.25rem;
    width: 100%;
}

.home-section-details-section-title {
    font-weight: bold;
    /* text-align: center; */
}

.home-section-details-section-list {
    padding: 0 1.5rem;
}

.home-section-details-section-list li {
    margin: 0.5rem 0;
}

.beta-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;

    padding: 1rem;
    border: 0.1rem solid var(--border-1);
    border-radius: 0.5rem;
}

/* use section */

#home-use .home-section-details,
#home-guides .home-section-details {
    margin-top: 1.75rem;
}

.tags {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.75rem;
}

.tag {
    padding: 0.5rem;
    border-radius: 0.35rem;

    font-size: clamp(0.85rem, 2vw, 1rem);
}

#home-use .home-section-details .a-btn {
    margin: 1.5rem 0 0.5rem;
    font-size: clamp(.85rem, 2vw, 1rem);
}

#home-use .home-section-details .a-btn:hover {
    background-color: transparent;
} 

/* memberships section */

#home-memberships .home-section-details-section .a-btn {
    font-size: clamp(0.85rem, 2vw, 1rem);
    margin-top: 1rem;
    text-align: center;
    width: 80%;
}

#home-memberships .home-section-details-section .a-btn:hover {
    background-color: transparent;
}

.tiers-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 95%;

    gap: 0.15rem;

    /* margin-top: 1.5rem; */
}

.tiers-section a {
    margin: 0 auto;
}

/* guides section */

#home-guides .home-section-details-section {
    align-items: flex-start;
    gap: 0.75rem;
}

.tag1 {
    background-color: var(--accent-bg-4);
}

.tag2 {
    background-color: var(--accent-bg-2);
}

/* about & contact section */

#home-about-contact {
    width: 85%;
    max-width: 40rem;
    margin: 2rem auto 3.25rem;

    border: none;
    background-color: var(--accent-bg-1);
    border-radius: 0.5rem;
}

.contact-us-title {
    text-align: center;
}

.contact-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem 2rem;

    margin-top: 1.25rem;
}

.contact-btns a {
    background-color: var(--body-bg);
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;

    padding: 1rem;
    background-color: var(--accent-bg-1);
}

.footer-links {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.75rem;
}

.footer-links a:hover {
    text-decoration: underline;
    color: var(--body-bg-opaque);
}

/* privacy page */

#privacy-section, #guides, .guide {
    align-items: flex-start;
    gap: 1rem;

    width: 90%;
    max-width: 50rem;
    margin: 0 auto 2rem;

    border: none;
}

#privacy-section {
    width: 85%;
}

#privacy-section h1,
#guides h1 {
    margin-top: 2rem;
}

#privacy-section h2:first-of-type {
    margin-top: 1.5rem;
}

.margin {
    margin-bottom: 1rem;
}

hr {
    border-top: 0.2rem solid var(--border-1); 
    border-bottom: none;
    border-right: none;
    border-left: none;

    width: 95%;
    min-width: min-content;
    margin: 1.5rem auto; 
}

/* guides page */

#guides-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.75rem;

    margin: 0 auto;
}

#guides .home-section-details-section {
    align-items: flex-start;
    margin-bottom: 1rem;

    /* max-width: 350px; */
}

.tag3 {
    background-color: var(--accent-bg-3);
}

#guides .next-btn{
    margin: 0 auto;
    max-width: 65%;
}

#guides .next-btn:hover {
    background-color: var(--body-bg);
}

/* guide page */

.guide {
    background-color: var(--accent-bg-1);
    padding: 1rem;
    margin-top: 2rem;

    border-radius: 0.5rem;
}

.guide:first-of-type {
    background-color: transparent;
    padding: 0;
    padding-top: 1rem;
    margin: 0 auto;
}

.guide a {
    font-size: clamp(0.85rem, 2vw, 1rem);
}

.guide h3 {
    font-style: italic;
    font-weight: lighter;
}


.info h1,
.info h2,
.info h3,
.info span,
.info th,
.info li::marker {
    color: var(--accent-txt-2);
}

.info p.tag {
    background-color: var(--accent-bg-2);
}

.bug h1,
.bug h2,
.bug h3,
.bug span,
.bug th,
.bug li::marker {
    color: var(--accent-txt-3);
}

.bug p.tag {
    background-color: var(--accent-bg-4);
}

.update h1,
.update h2,
.update h3,
.update span,
.update th,
.update li::marker {
    color: var(--accent-txt-1);
}

.update p.tag {
    background-color: var(--accent-bg-3);
}

.guide .home-section-details-section-title {
    /* text-align: left; */
    margin: 0.75rem 0 -0.5rem;
}

.margin-bottom-minus {
    margin-bottom: -0.75rem;
}

.margin-top-plus {
    margin-top: 0.5rem;
}

.margin-top-minus {
    margin-top: 0.5rem;
}

.table-scroll-container {
    width: 100%;
    /* 1. This enables the horizontal scroll only when needed */
    overflow-x: auto;
    
    /* 2. Momentum scrolling for energy-efficient smoothness on iOS */
    -webkit-overflow-scrolling: touch;
    
    /* 3. Cleanup: Remove ghost margins */
    margin: 1rem 0 0.5rem;
    
    /* Optional: Add a subtle border to show the 'window' limits */
    border: 0.1rem solid var(--border-1);
    border-bottom: none;
    border-radius: 0.5rem;
}

table {
    width: 100%;
    /* 4. THE MAGIC LINE: 
       On small screens, the table will refuse to shrink smaller than 600px, 
       triggering the scrollbar. On large screens, it will grow to 100%. */
    min-width: 625px;
    
    border-collapse: collapse;
    text-align: left;
}

th, td {
    padding: 0.75rem 1rem;
    border-bottom: 0.1rem solid var(--border-1);
}

th {
    background-color: var(--accent-bg-2);
    position: sticky;
    top: 0; /* Keeps header visible if the table is long */
}

tbody tr:nth-child(even) {
    background-color: rgba(255, 255, 255, 0.05)
}


@media (min-width: 450px) {
    #privacy-section, #guides, .guide {
        width: 85%;
    }

    #guides .home-section-details-section {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #home-about-contact {
        width: 80%;
    }
}

@media (min-width: 550px) {
    .hero-title {
        margin-top: 3.5rem;
    }

    .hero-subtitle {
        width: 50%;
    }

    section {
        padding: 2rem 1rem;
    }

    .home-section-details {
        width: 80%;
    }

    .guide {
        padding: 2rem;
        margin: 2rem auto 5rem;
    }

    .guide .a-btn {
        margin: 1rem 0;
    }
}

@media (min-width: 550px) {
    #guides .home-section-details-section {
        width: 80%;
    }
}

@media (min-width: 750px) {
    section {
        padding: 2rem 0rem;
    }

    section:not(#home-hero, #home-about-contact, #privacy-section, #guides, .guide) {
        margin-bottom: 4.5rem;
    }

    #home-info .home-section-details,
    #home-use .home-section-details,
    #home-memberships .home-section-details,
    #home-guides .home-section-details {
        gap: 3rem;
    }

    #guides .home-section-details-section {
        padding: 1.5rem;
        margin-bottom: 2rem;

        width: 305px;
    }

    .guide .home-section-details-section-title {
        margin-top: 1.25rem;
    }

    #home-about-contact {
       margin-top: 3rem; 
    }

    footer {
        padding: 1.5rem
    }
}

@media (min-width: 800px) {
    #guides .home-section-details-section {
        width: 325px;
    }
}

@media (min-width: 850px) {
    #guides .home-section-details-section {
        width: 355px;
    }
}

@media (min-width: 1000px) {
    header {
        padding: 0.5rem 3rem;
    }

    .home-section-details,
    #home-use .home-section-details, 
    #home-guides .home-section-details  {
        margin-top: 2rem;
    }

    .guide {
        padding: 2.5rem 3rem;
    }

    .guide .a-btn {
        margin-top: 2rem;
    }

    #guides .home-section-details-section {
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 1250px) {
    header {
        padding: 0.5rem 8rem;
    }
}